body {
  background: #fed049;
  font-family: Arial;
  margin:0;
}
p{
  font-size:16px;
}
td {
  width: 50%;
  vertical-align: top;
}
footer{
  background: #007680;
  padding:1px;
  color: #ffffff;
}
form {
  padding: 10px;
  margin: 5px;
  border: 1px solid #000000;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1{
  color: #007680;
}

/* style added by teacher*/

img[alt="banner"] {
  width: 100%;
}
li[value="1"],[value="3"],[value="5"],[value="7"] {
  color: #007680;
}
li[value="2"],[value="4"],[value="6"]{
  color: #be1006;
}
/* student need to add  here */